<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> <%= title %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link href="/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  </head>
  <body>

<form method="post" action="/tomarprestado"> 
  <div class="container-sm">

      <a class="btn btn-primary" href="http://localhost:3000/registro" role="button">REGISTRO</a>
      
    <div class="mb-3">
      <label for="ipNombre" class="form-label">Nombre y Apellido</label>
      <input
        name="nombre"
        size="10"
        maxlength="50"
        type="text"
        class="form-control"
        id="ipNombre"
        placeholder="NOMBRE COMPLETO"
        required
      />
    </div>
    
    <div class="hstack gap-2">
      <p>  ELIGA SU CURSO <p>
        <select name="curso" style="width: min-content;" class="form-select" aria-label="Curso" id="ipCurso">
          <%curso.forEach(curso=> { %>
            <option value="<%= curso.nombre %>">
                <%= curso.nombre %>
              </option>
              <% })%>

    </select>

    <p>  EQUIPOS  DISPONIBLE <p>
    <select name="notebook" style="width: min-content;" class="form-select" aria-label="Eliga la PC" id="IPP Ciclo SuperiorC">
      
   <%notebooks.forEach(notebook=> { %>
    <% if(!notebook.prestado){ %>
    <option value="<%= notebook.nombre %>">
        <%= notebook.nombre %>
      </option>
      <% } %>
      <% })%>
    </div>
  
    </select>
</div>

<div class="form-check form-switch">
    <label for="ipSeña">Dejó Seña</label>
    <input class="form-check-input" 
    type="checkbox" 
    id="ipSeña"
    data-bs-toggle="collapse" 
    href="#collapseExample" 
    role="switch" 
    aria-expanded="false" 
    aria-controls="collapseExample">

  <div class="collapse" id="collapseExample">
  <div class="vstack gap-2 col-md-5 mx-auto">
    <button type="submit" class="btn btn-outline-danger">CONTINUAR</button>
  </div>
  </div>
  </div>

</form>

  
    <script src="/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
