<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link href="/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
</head>
<body>
    <div>
    <a class="btn btn-primary" href="/" role="button">INICIO </a>
    </div>

    <form action="/addnotebook" method="post">
        <label for="addntb">Agregue Equipo</label>
        <input id="addntb" type="text" name="notebook" required>
        <button type="submit" value="Agregar"> Agregar </button>
    </form>
    
    <form action="/addcurso" method="post">
      <label for="addcurso">Agregue Curso</label>
      <input id="addcurso" type="text" name="curso" required>
      <button type="submit" value="Agregar"> Agregar </button>

</div> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Curso</th>
      <th scope="col">Notebook</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%prestamos.forEach(prestamos=> { %>
    <tr>
      <td><%= prestamos.nombre %></td>
      <td><%= prestamos.curso %></td>

    
      <td><%= prestamos.notebook %></td>
      <td> 
        <form method="post" action="/borrarprestamo/<%= prestamos.id %>" >
            <input type="text" name="notebook" value="<%= prestamos.notebook %>" hidden >
        <button type="submit" class="btn btn-danger" value="borrar"> Borrar  </button>
    </form>  
    </td>
    </tr>
    <% })%>
      </tbody>
</table>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%notebooks.forEach(notebook=> { %>
    <tr>
      <td><%= notebook.nombre %></td>
      <td> 
        <form method="post" action="/deletenotebook/<%= notebook.id %>" >
            <input type="text" name="notebook" value="<%= notebook.nombre %>" hidden >
        <button type="submit" class="btn btn-danger" value="borrar"> Borrar  </button>
    </form>  
    </td>
    </tr>
    <% })%>
      </tbody>
</table>




    <script src="/bootstrap/js/bootstrap.min.js"></script>  
</body>
</html>